@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;1,500&display=swap');

*{
  font-family: 'Josefin Sans', sans-serif;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

body {
  background-color: #131316;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  justify-content: center;
}

button{
  border-radius: 10px;
  width: 150px;
  height: 50px;
}
h1{
  font-size: 4.5rem;
}

p {
  display: flex;
  text-align:center; 
  margin: 50px;
  padding: 20px;
}

section {
  display: grid;
  place-items: center;
  align-items: center;
  min-height: 100vh;
}

.navbar {
  background: linear-gradient(to right, rgb(199, 125, 21) 40, 32), rgb(194, 62, 21), 251, 143));
  padding: 10px;
  border: #131316;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
}

.navbar ul li:not(:last-child) {
  margin-right: 20px;
}

li a:hover {
  border-bottom: 2px solid #ddd;
}

.profile {
  display: inline-flex;
  float: right;
  max-width: 20%;
  height: auto;
  box-shadow: 0 0 10px 5px rgba(107, 101, 101, 0.5);
  padding: 5px;
}

.icon {
  min-width: 5vw;
  width: 15vw;
  max-width: calc(25% - 20px); /* Adjust the percentage and subtract margin */
  height: auto;
  overflow: auto;
  margin: 40px;
  box-shadow: 0 0 10px 5px rgba(107, 101, 101, 0.5);
  padding: 5px;
  flex: 1 1 auto;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
}

.skill-box {
  padding: 1rem;
  color: #ddd;
  cursor: pointer;
}

.skill-box img {
  transition: transform 0.3s ease-in-out;
}

.skill-box:hover > .skill-title:after,
.skill-box:hover > .skill-title:before {
  width: 35px;
}

.skill-box:hover .img {
  transform: translateY(-10px);
  transition: transform 0.3s ease-in-out;
}

.modal{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 70%;
  z-index: 6;
}

.close-modal{
font-size:34px;
}

.secret{
  display: none;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 2s;
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#000000;
  z-index: 5;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
